.nav-link.active {
  color: #81c3d8;
}

.logged-as-text-label {
  color: #81c3d8;
}

.logged-user-email {
  color: #fff;
}

.link-to-user-panel {
  border-bottom: 2px solid #fff;
  transition: border-bottom 0.15s;
}

.link-to-user-panel:hover {
  border-bottom: 2px solid #81c3d8;
}
